.xbox-button--rb {
  border-radius: 8px 8px 0px 0px;
  padding: 0 6px;
  height: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 600;
  background: var(--color-bg-grey);
  
  .xbox-button__label {
    color: var(--color-text-black);
    text-transform: uppercase;
    font-size: 12px;
    font-weight: 600;
  }
}

