.xbox-button--y {
    border-radius: 50%;
    height: 24px;
    width: 24px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: var(--color-bg-grey);
    
    .xbox-button__label {
      color: var(--color-text-black);
      text-transform: uppercase;
      font-size: 12px;
      font-weight: 600;
    }
  }
  
  